{% extends 'base.html' %} {% import 'macros.html' as macro%}

<!-- content block -->
{% block content %}
<div style="background-color: violet;">
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
    <div>
      <h3 class="jumbotron text-center" style="font-family: 'Kaushan Script', cursive; font-size:30px;background-color: rgb(212, 196, 245);">{{category.name|upper}}</h3>
    </div>
       <a class="btn btn-primary text-center text-danger " href="/category/new-post/{{category.id}}"> Add a comment</a>
       <HR>
  </div>
 
  
        <div class="well">
          <p style="padding:5%; text-align:center; font-size:17px;font-family: 'Kaushan Script', cursive; color:red">{{category.content}} !</p>
        </div>
        <div class="col-sm-12 col-md-8" style="font-family: 'Kaushan Script', cursive; font-size:30px;">
            {{ macro.displayPosts(posts)}}
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
  
  


{% endblock %}
