{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
    
    <div class="jumbotron text-center" style="background-color:rgba(0,0,0,.5); color: #fff; padding: 40px 25px; font-family: 'Abril Fatface', cursive; font-size: 30px;">
      <h1>soRANDOM BLOGS</h1>
    </div>
  <div style="background-color:rgb(197, 163, 230); color: #fff; background-size: cover;">


    <div class="container" style="font-family: 'Russo One', sans-serif; color: white;">
      <div class="row" style="margin-top:30px">
        <h4 class="text-left"><a class="btn btn-primary" href="/add/category"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Blog Post </a></h4>
        <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 5px; color: black; float:right;">
              <div class="panel-body"> 
              {{quote}}
              {{quote_author}}
                </div>
              </div>
            </div>
        
              {{ macro.displayCategoryList(categories) }}
              
            </div>
          </div>
          
      
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
{% macro displayPosts(post_list) %}
  {% for posts in post_list %}
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
              <h3>{{posts.content}}</h3>
          </div>
          <div class="col-md-6">
            <p>POSTED: {{posts.date_posted.strftime('%Y/%m/%d || %r')}}</p>
            <a href="/post/{{posts.id}}"><h4>COMMENT</h4></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endfor %}
{% endmacro %}
